framework: net6.0

source https://api.nuget.org/v3/index.json

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.6

nuget Be.Vlaanderen.Basisregisters.Api 18.3.1
nuget Be.Vlaanderen.Basisregisters.DependencyInjection 1.0.3

// PRODUCTION STUFF
nuget OpenTelemetry 1.4.0-rc.1
nuget OpenTelemetry.Api 1.4.0-rc.1
nuget OpenTelemetry.Exporter.Console 1.4.0-rc.1
nuget OpenTelemetry.Exporter.Jaeger 1.4.0-rc.1
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol 1.4.0-rc.1
nuget OpenTelemetry.Exporter.Prometheus.AspNetCore 1.4.0-rc.1
nuget OpenTelemetry.Extensions.DependencyInjection 1.4.0-rc.1
nuget OpenTelemetry.Extensions.Hosting 1.4.0-rc.1
nuget OpenTelemetry.Instrumentation.AspNetCore 1.0.0-rc9.10
nuget OpenTelemetry.Instrumentation.Http 1.0.0-rc9.10
nuget OpenTelemetry.Instrumentation.Runtime 1.1.0-beta.2

nuget Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 6.0.3
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 6.0.3
nuget Microsoft.EntityFrameworkCore.Abstractions 6.0.3
nuget Microsoft.EntityFrameworkCore.Analyzers 6.0.3
nuget Microsoft.Extensions.Configuration 6.0.1
nuget Microsoft.Extensions.Configuration.Abstractions 6.0.0
nuget Microsoft.Extensions.DependencyInjection 6.0.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 6.0.0
nuget Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore 6.0.3
nuget Microsoft.Extensions.Hosting.Abstractions 6.0.0
nuget Microsoft.Extensions.Logging 6.0.0
nuget Microsoft.Extensions.Logging.Abstractions 6.0.1
nuget Microsoft.Extensions.Options 6.0.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.4.0
nuget xunit 2.4.2
nuget xunit.runner.visualstudio 2.4.3
nuget xunit.categories 2.0.6

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
